<h2>News</h2>

<p>
<b>On this page</b>, we attempt to give a chronological account of significant
updates to the mcplots site, in particular
<ul>
  <li>Additions of new Generators and Versions</li>
  <li>Additions of new Rivet analyses</li>
  <li>Updates to Rivet versions</li>
  <li>Significant changes to the amount of statistics, new capabilities,
      or bug fixes to each of the generators and analyses already on the site.
  </li>
</ul>
Links to more complete lists of changes (provided directly from SVN)
are also made available.
</p>

<div id="news">

<!-- postponed to next release (still unfinished): CMS_EWK_10_012 -->

<!-- postponed to next release (were added in #2045-2046, too late as MC production based on #2016)


-->

<!-- postponed to next release: mention change uemb-soft -> uemb-nsd for some of analyses
     (also to be checked it works for all configurations) - #2052
 -->


<p><b>2018/TODO/TODO</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>

<li>Rivet 2.5.4</li>

<li>Herwig 7.0.0, 7.0.1, 7.0.2, 7.0.3, 7.0.4, 7.1.0, 7.1.1, Pythia
  8.219, 8.223, 8.226, 8.230, Sherpa 2.2.1, 2.2.2, 2.2.4,
  Vincia 2.0.01</li>

<li>New processes: top, W+1jet, Z+1jet
</li>

<li>New analyses<br>
  <ul>
    <li><b>ALICE</b> average pT vs hadron mass, and pi, eta, K, p, Sigma*, and Xi* spectra at 7 TeV,
     and pi0 spectra at 900 GeV: 
      <a href="?query=plots,,,,,,ALICE_2015_I1357424">ALICE_2015_I1357424</a>,
      <a href="?query=plots,,,,,,ALICE_2014_I1300380">ALICE_2014_I1300380</a>,
      <a href="?query=plots,,,,,,ALICE_2012_I1116147">ALICE_2012_I1116147</a>
    </li>
    <li><b>ATLAS</b> phi spectrum at 7 TeV:
      <a href="?query=plots,,,,,,ATLAS_2014_I1282441">ATLAS_2014_I1282441</a>
    </li>
    <li><b>ATLAS</b> (added by A. Hinzmann):
      <a href="?query=plots,,,,,,ATLAS_2016_I1419070">ATLAS_2016_I1419070</a>,
      <a href="?query=plots,,,,,,ATLAS_2013_I1243871">ATLAS_2013_I1243871</a>,
      <a href="?query=plots,,,,,,ATLAS_2012_I1119557">ATLAS_2012_I1119557</a>,
      <a href="?query=plots,,,,,,ATLAS_2012_I1094564">ATLAS_2012_I1094564</a>,
      <a href="?query=plots,,,,,,ATLAS_2015_I1393758">ATLAS_2015_I1393758</a>
    </li>
    <li><b>CMS</b> (added by A. Hinzmann):
      <a href="?query=plots,,,,,,CMS_2013_I1224539">CMS_2013_I1224539</a>,
      <a href="?query=plots,,,,,,CMS_2017_I1605749">CMS_2017_I1605749</a>,
      <a href="?query=plots,,,,,,CMS_2017_I1519995">CMS_2017_I1519995</a>,
      <a href="?query=plots,,,,,,CMS_2015_I1327224">CMS_2015_I1327224</a>,
      <a href="?query=plots,,,,,,CMS_2012_I1090423">CMS_2012_I1090423</a>
    </li>
    <li><b>CMS</b> UE at 2760 GeV:
      <a href="?query=plots,,,,,,CMS_2015_I1385107">CMS_2015_I1385107</a>
    </li>
    <li><b>CMS</b> dN/deta at 13 TeV:
      <a href="?query=plots,,,,,,CMS_2015_I1384119">CMS_2015_I1384119</a>
    </li>
    <li><b>CMS</b> coherence:
      <a href="?query=plots,,,,,,CMS_2013_I1265659">CMS_2013_I1265659</a>
    </li>
    <li><b>LHCb</b> Charm hadron and &phi; meson spectra:
      <a href="?query=plots,,,,,,LHCB_2013_I1218996">LHCB_2013_I1218996</a>,
      <a href="?query=plots,,,,,,LHCB_2011_I919315">LHCB_2011_I919315</a>      
    </li>
    <li><b>CDF</b> coherence:
      <a href="?query=plots,,,,,,CDF_1994_S2952106">CDF_1994_S2952106</a>
    </li>
    <li><b>DELPHI</b> Event shapes, particle spectra, and MC tuning observables:
      <a href="?query=plots,,,,,,DELPHI_1996_S3430090">DELPHI_1996_S3430090</a>
    </li> 
    <li>Updated <b>DELPHI</b> b fragmentation studies and
    added <b>OPAL</b> b fragmentation:
      <a href="?query=plots,,,,,,DELPHI_2011_I890503">DELPHI_2011_I890503</a>,
      <a href="?query=plots,,,,,,OPAL_2003_I599181">OPAL_2003_I599181</a>
    </li>
    <li><b>DELPHI</b> Xi and Sigma(1385) spectra:
         <a href="?query=plots,,,,,,DELPHI_1995_S3137023">DELPHI_1995_S3137023</a>
   </li>
    <li><b>HRS</b> and <b>TASSO</b> multiplicity measurements in
    e+e- to hadrons below the Z peak:
      <a href="?query=plots,,,,,,HRS_1986_I18502">HRS_1986_I18502</a>,
      <a href="?query=plots,,,,,,TASSO_1989_I277658">TASSO_1989_I277658</a>
    </li>
    <li><b>L3</b> eta0 spectra:
         <a href="?query=plots,,,,,,L3_1992_I336180">L3_1992_I336180</a>
   </li>
    <li><b>OPAL</b> and <b>DELPHI</b> multiplicity measurements in
    hadronic Z decays:
      <a href="?query=plots,,,,,,OPAL_1992_I321190">OPAL_1992_I321190</a>,
      <a href="?query=plots,,,,,,DELPHI_1991_I301657">DELPHI_1991_I301657</a>
    </li>
  </ul>
</li>

</ul>
<a href="TODO">Full list of changes (TODO)</a>
</p>
<hr noshade size="5">



<p><b>2017/12/05</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>

<li>Rivet 2.4.0</li>

<li>The plotting tool has been updated, to correct
  labeling on several plots and introduce a revised design
  template with a slightly wider overall aspect ratio (to fit better on
  slides), the main and ratio panes now touching each other and thus
  enlarging the total data display area despite reducing the height,
  and the black top bar replaced by ordinary black-on-white text. Note
  also that the ratio pane is now using a logarithmic axis centred on
  the range [0.5, 2] with a bit of margin on either side. 
  </li>

</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=2094&er=2016&isdir=1&all=1&max=1000">Full list of changes (#2016 - #2094)</a>
</p>
<hr noshade size="5">


<p><b>2015/12/08</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>

<li>Epos 1.99 / CRMC 1.0, 1.2, 1.3, 1.4, 1.5.3 and 1.5.4, Pythia 8.209, 8.210 and 8.212, Sherpa 2.2.0, Vincia 1.2.00, 1.2.01 and 1.2.02</li>

<li>Rivet 2.3.0</li>

</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=2015&er=1942&isdir=1&all=1&max=1000">Full list of changes (#1942 - #2015)</a>
</p>
<hr noshade size="5">


<p><b>2015/05/28</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>

<li>Herwig++ 2.7.0 and 2.7.1, Pythia 8.186, 8.201 and 8.205, Vincia 1.1.01, 1.1.02 and 1.1.03</li>

<li>Updated design of the <a href="?query=versions">Generators Versions</a> and
 'Custom' Generator Group pages to have better overview of versions and
  tunes available on the site.</li>

</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=1941&er=1809&isdir=1&all=1&max=1000">Full list of changes (#1809 - #1941)</a>
</p>
<hr noshade size="5">


<p><b>2015/02/23</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>

<li>Pythia 6.428, Pythia 8.180, 8.183 and 8.185, Sherpa 1.4.5, 2.1.0 and 2.1.1</li>

<li>Rivet 1.9.0</li>

<li>Updated to LHAPDF 5.8.9 / 5.9.1, FastJet 3.0.3, HepMC 2.06.08</li>

</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=1808&er=1718&isdir=1&all=1&max=1000">Full list of changes (#1718 - #1808)</a>
</p>
<hr noshade size="5">


<p><b>2014/01/15</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>

<li>Herwig++ 2.6.2 and 2.6.3, Pythia 8.175 and 8.176,
  Sherpa 1.4.2 and 1.4.3, Vincia 1.1.00</li>

<li>New analyses:<br>
  <ul>
    <li><b>SLD</b>:
      <a href="?query=plots,,,,,,SLD_2004_S5693039">SLD_2004_S5693039</a>,
      <a href="?query=plots,,,,,,SLD_2002_S4869273">SLD_2002_S4869273</a>
    </li>
  </ul>
</li>

<li>Temporary removed bottom quark analyses due to issues with generators
  steering cards. To be re-added in the next release.
</li>

<li>Expanded validation framework to include new "Tuning Validation"
  page, on which the chi2 values of different tunes of each generator
  are compared to each other. (We still choose not to show any direct
  comparisons between different generators, as the interpretation of
  such comparisons is more involved and the simple compound chi2 we
  calculate here could potentially be misleading.)
</li>

<li>Rivet 1.8.3. Thanks to Test4Theory volunteer Crystal Pellet for
  <a href="http://lhcathome2.cern.ch/vLHCathome/forum_thread.php?id=1303">alerting us to the new version</a>.</li>

<li>Corrected bugs
  for <a href="http://lhcathome2.cern.ch/vLHCathome/forum_thread.php?id=1317">Herwig++
  W+jets</a>
  and <a href="http://lhcathome2.cern.ch/vLHCathome/forum_thread.php?id=1289">Phojet
  ppbar</a> runs. Thanks to Test4Theory
  volunteers Crystal
  Pellet and Ray Murray
  for helping us track this down.</li>

<li>Updated Test4Theory for compatibility with Scientific Linux 6.</li>

<li>Updated and reorganized tune groups. New tab dedicated to
  Soft-Inclusive MCs (generators specializing in diffraction,
  min-bias, etc).</li>

<li>Updated plotter. Improved  
  y axis ranges for plots with large uncertainties. Reduced 
  risk of plot points being hidden under legends.</li>

<li>Included a Facebook "like" button, currently as an experimental
  social feature, to be kept or removed in the future.</li>

<li>Removed Pythia 8.157 (deemed obsolete).</li>

<li>Reduced number of tune variations available for the oldest
  versions of Pythia 6 and 8.</li>

</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=1717&er=1482&isdir=1&all=1&max=1000">Full list of changes (#1482 - #1717)</a>
</p>
<hr noshade size="5">


<p><b>2013/02/07</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Epos 1.99.crmc.v3400, Herwig++ 2.6.1a and 2.6.0, Phojet 1.12a, Pythia 6.427, Pythia 8.170, 8.165, 8.163 and 8.108, Sherpa 1.4.1, Vincia 1.0.28</li>

<li>Added version 4 of 
<a href="http://projects.hepforge.org/herwig/trac/wiki/MB_UE_tunes">Herwig++ tunes</a> 
and Pythia 6 Perugia 2012 tunes.</li>

<li>New analyses:<br>
  <ul>
    <li><b>ALICE</b>:
      <a href="?query=plots,,,,,,ALICE_2012_I1181770">ALICE_2012_I1181770</a>
    </li>
    <li><b>ATLAS</b>:
      <a href="?query=plots,,,,,,ATLAS_2011_I926145">ATLAS_2011_I926145</a>,
      <a href="?query=plots,,,,,,ATLAS_2012_I1084540">ATLAS_2012_I1084540</a>,
      <a href="?query=plots,,,,,,ATLAS_2011_I894867">ATLAS_2011_I894867</a>,
      <a href="?query=plots,,,,,,ATLAS_2012_I1183818">ATLAS_2012_I1183818</a>
    </li>
    <li><b>CMS</b>:
      <a href="?query=plots,,,,,,CMS_2011_S8941262">CMS_2011_S8941262</a>,
      <a href="?query=plots,,,,,,CMS_2011_S9215166">CMS_2011_S9215166</a>,
      <a href="?query=plots,,,,,,CMS_2012_I1193338">CMS_2012_I1193338</a>,
      <a href="?query=plots,,,,,,CMS_2012_I1087342">CMS_2012_I1087342</a>,
      <a href="?query=plots,,,,,,CMS_2012_I1102908">CMS_2012_I1102908</a>,
      <a href="?query=plots,,,,,,CMS_2012_I1184941">CMS_2012_I1184941</a>,
      <a href="?query=plots,,,,,,CMS_2012_PAS_FWD_11_003">CMS_2012_PAS_FWD_11_003</a>,
      <a href="?query=plots,,,,,,CMS_2012_PAS_QCD_11_010">CMS_2012_PAS_QCD_11_010</a>
    </li>
    <li><b>LHCb</b>:
      <a href="?query=plots,,,,,,LHCB_2011_I917009">LHCB_2011_I917009</a>,
      <a href="?query=plots,,,,,,LHCB_2010_I867355">LHCB_2010_I867355</a>,
      <a href="?query=plots,,,,,,LHCB_2012_I1119400">LHCB_2012_I1119400</a>
    </li>
    <li><b>LHCf</b>:
      <a href="?query=plots,,,,,,LHCF_2012_I1115479">LHCF_2012_I1115479</a>
    </li>
    <li><b>TOTEM</b>:
      <a href="?query=plots,,,,,,TOTEM_2012_I1115294">TOTEM_2012_I1115294</a>,
      <a href="?query=plots,,,,,,TOTEM_2011_I930960">TOTEM_2011_I930960</a>,
      <a href="?query=plots,,,,,,TOTEM_2012_002">TOTEM_2012_002</a>
    </li>
    <li><b>ALEPH</b>:
      <a href="?query=plots,,,,,,ALEPH_1999_S4193598">ALEPH_1999_S4193598</a>
    </li>
    <li><b>MC-only</b>:
      MC_FBA_TTBAR - see section "Top quark (MC only)"
    </li>
  </ul>
</li>

<li>Rivet 1.8.2</li>

<li>Updated to LHAPDF 5.8.8 and FastJet 2.4.4</li>

<li>Implemented <a href="http://mcplots-dev.cern.ch/production.php?view=contrib">accounting of contributions</a> by BOINC volunteers and added <a href="https://svnweb.cern.ch/trac/mcplots/browser/trunk/doc/mcplots-api.txt">API</a> to access contributions stats.
<a href="http://www.citizencyberscience.net/t4t-webapp/stats/">Test4Theory Stats</a> web application make use of the API to display contributions progress.</li>

</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=1481&er=1223&isdir=1&all=1&max=1000">Full list of changes (#1223 - #1481)</a>
</p>
<hr noshade size="5">


<p><b>2012/04/09</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Alpgen 2.1.4 and 2.1.3e, Pythia 8.162, 8.160, 8.135 and 8.130, Sherpa 1.4.0</li>

<li>New analyses:<br>
  <ul>
    <li><b>ALICE</b>:
      <a href="?query=plots,,,,,,ALICE_2011_S8909580">ALICE_2011_S8909580</a>,
      <a href="?query=plots,,,,,,ALICE_2011_S8945144">ALICE_2011_S8945144</a>
    </li>
    <li><b>ATLAS</b>:
      <a href="?query=plots,,,,,,ATLAS_2011_S9131140">ATLAS_2011_S9131140</a>,
      <a href="?query=plots,,,,,,ATLAS_2011_S9128077">ATLAS_2011_S9128077</a>,
      <a href="?query=plots,,,,,,ATLAS_2011_S9126244">ATLAS_2011_S9126244</a>,
      <a href="?query=plots,,,,,,ATLAS_2011_S9002537">ATLAS_2011_S9002537</a>
    </li>
    <li><b>CMS</b>:
      <a href="?query=plots,,,,,,CMS_2011_S9120041">CMS_2011_S9120041</a>,
      <a href="?query=plots,,,,,,CMS_2011_S9088458">CMS_2011_S9088458</a>,
      <a href="?query=plots,,,,,,CMS_2011_S9086218">CMS_2011_S9086218</a>,
      <a href="?query=plots,,,,,,CMS_2011_S8968497">CMS_2011_S8968497</a>,
      <a href="?query=plots,,,,,,CMS_2010_S8547297">CMS_2010_S8547297</a>,
      <a href="?query=plots,,,,,,CMS_2010_S8656010">CMS_2010_S8656010</a>,
      <a href="?query=plots,,,,,,CMS_2011_S8884919">CMS_2011_S8884919</a>,
      <a href="?query=plots,,,,,,CMS_2011_S8950903">CMS_2011_S8950903</a>
    </li>
    <li><b>LHCb</b>:
      <a href="?query=plots,,,,,,LHCB_2010_S8758301">LHCB_2010_S8758301</a>
    </li>
    <li><b>STAR</b>:
      <a href="?query=plots,,,,,,STAR_2006_S6870392">STAR_2006_S6870392</a>,
      <a href="?query=plots,,,,,,STAR_2008_S7869363">STAR_2008_S7869363</a>
    </li>
  </ul>
</li>

<li>Disabled bad quality histograms (with problems like negative bin contents) from ALEPH_2004_S5765862 and OPAL_2004_S6132243 analyses</li>

<li>Rivet 1.8.0</li>

<li>Updated to LHAPDF 5.8.7, AGILe 1.4.0, HepMC 2.06.05</li>

<li>Display Rivet version and number of events on each plot</li>
<li>Use information provided by Rivet to select linear or logarithmic
  scale on plots which gives better look.</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=1222&er=994&isdir=1&all=1&max=1000">Full list of changes (#994 - #1222)</a>
</p>
<hr noshade size="5">


<p><b>2011/12/08</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Herwig++ 2.5.2, Pythia 6.426, Pythia 8.157, Vincia 1.0.27</li>
<li>Added version 3 of Herwig++
<a href="http://projects.hepforge.org/herwig/trac/wiki/MB_UE_tunes">colour reconnection tunes</a>.</li>
<li>Rivet 1.7.0</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=993&er=952&isdir=1&all=1&max=1000">Full list of changes (#952 - #993)</a>
</p>
<hr noshade size="5">


<p><b>2011/11/11</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Fixed incorrect modification of Sherpa jets steering files.</li>
<li>Added 'analysis filter' with possibillity to display plots from specific Rivet analysis.</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=951&er=931&isdir=1&all=1&max=1000">Full list of changes (#931 - #951)</a>
</p>
<hr noshade size="5">


<p><b>2011/10/07</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Sherpa 1.3.1, Pythia 8.153, Vincia 1.0.26</li>
<li>Removed obsolete Herwig++ v.1 tunes.</li>
<li>Obsolete CDF_2008_LEADINGJETS analysis replaced by
    <a href="http://projects.hepforge.org/rivet/analyses#CDF_2010_S8591881_QCD">CDF_2010_S8591881_QCD</a> 
    (thanks to <a href="http://lhcathome.web.cern.ch/projects/test4theory">Test4Theory</a> member <a href="http://lhcathome2.cern.ch/vLHCathome/show_user.php?userid=1784">Crystal Pellet</a> for <a href="http://lhcathome2.cern.ch/vLHCathome/forum_thread.php?id=363#4147">bringing this to our attention</a>).
</li>
<li>Added CMS strange production analysis
    <a href="http://projects.hepforge.org/rivet/analyses#CMS_2011_S8978280">CMS_2011_S8978280</a>.
</li>
<li>Rivet 1.6.0</li>
<li>Added generators <a href="?query=valid">validation page</a> based
on &chi;<sup>2</sup> values including 5% theory uncertainty</li>
<li>Added 'Custom' generator group.</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=930&er=757&isdir=1&all=1&max=1000">Full list of changes (#757 - #930)</a>
</p>
<hr noshade size="5">


<p><b>2011/07/27</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Herwig++ 2.5.1</li>

<li>Added version 2 of Herwig++
<a href="http://projects.hepforge.org/herwig/trac/wiki/MB_UE_tunes">colour reconnection tunes</a>.</li>

<li>Added another D0 Z pT analysis
(<a href="http://projects.hepforge.org/rivet/analyses#D0_2010_S8821313">D0_2010_S8821313</a>).</li>

<li>Plots page layout reorganized to fit to screen width.</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=756&er=665&isdir=1&all=1&max=1000">Full list of changes (#665 - #756)</a>
</p>
<hr noshade size="5">


<p><b>2011/06/07</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Sherpa 1.3.0, Pythia 6.425, Pythia 8.150</li>
<li>New tunes: Herwig++ MU900-1; Pythia 6 Perugia 2011; Sherpa: removed explicit alphaS definition from
run cards. </li>
<li>Several LEP distributions and moments (OPAL_2004_S6132243), including
 energy scaling beyond 91 GeV 
 (contributed by S. Prestel and W. Pokorski)</li>
<li>Removed OPAL four-jet angles (OPAL_2001_S4553896) since the measurements were corrected
to parton level and it is not clear how to compare arbitrary
generators to them</li>
<li>Rivet 1.5.1</li>
<li>Reorganized tune groups to a two-tier structure, with top group
selecting generator (or main) and subgroups selecting more finegrained
within that group (e.g. groups of tunes for a single generator)</li>
<li>Reorganized and renamed some LEP observables to make their order
more intuitive.</li>
<li>Minor updates to plotting tool to make sure axis ticks always
visible in ratio plots and a few other minor cosmetics fixes</li> 
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=664&er=442&isdir=1&all=1&max=1000">Full list of changes (#442 - #664)</a>
</p>
<hr noshade size="5">


<p><b>2011/03/20</b> - MCPLOTS public release</p>
<p><b>Includes:</b>
<ul>
<li>Herwig++ 2.5.0, Vincia 1.0.25 and 1.0.24</li>
<li>First LHC measurements at 7 TeV</li>
<li>Dedicated ee identified-particle measurements from ALEPH</li>
<li>b fragmentation measurements from DELPHI</li>
<li>Rivet 1.5.0</li>
<li>New functionality to select alternative generator versions
(written by A. Pytel)</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=441&er=268&isdir=1&all=1&max=1000">Full list of changes (#268 - #441)</a>
</p>
<hr noshade size="5">


<p><b>2010, December</b> - first public release</p>
<p><b>Includes:</b>
<ul>
<li>Herwig++ 2.4.2, Pythia 6.424 and 6.423, Pythia 8.145 and 8.142, Sherpa 1.2.3 and 1.2.2p</li>
<li>Rivet 1.4.0</li>
</ul>
<a href="http://svnweb.cern.ch/world/wsvn/mcplots/?op=log&sr=267&er=1&isdir=1&all=1&max=1000">Full list of changes (#1 - #267)</a>
</p>
<hr noshade size="5">


<p><b>2010, November</b> - starting alpha-testing of <a href="http://lhcathome.web.cern.ch/projects/test4theory">Test4Theory</a> project</p>


<p><b>2010, August</b> - first prototypes of web pages</p>


<p><b>2010, Summer</b> - <a href="http://mcplots.cern.ch/">MCPLOTS</a> project started</p>

</div>
