* {
  font-family: Arial,Helvetica,Verdana,Sans-serif;
}

a:link {color:#0000cc;text-decoration:none;}
a:visited {color:#0000cc;text-decoration:none;}
a:active {color:#0000ff; text-decoration:underline;}
a:hover {color:#0000ff; text-decoration:underline;}

/* title of 'menu' and 'content' blocks */
h2 {
   font-size:32px;
   font-weight:normal;
   color:#ffffff;
   background-color:#000000;
   margin-top:0.5em;
   margin-bottom:0.5em;
   text-align:center;
   padding:5px;
   padding-left:10px;
   padding-right:10px;
}

/* section name in menu column */
div#menu h3 {
  font-size:22px;
  font-weight:normal;
  line-height:1.0;
  color:#eeeeee;
  background-color:#000000;
  margin-top:1.0em;
  margin-bottom:0.3em;
  padding: 0.2em;
  padding-left: 0.5em;
}

/* title of plot (cuts) */
h4 {
   font-size:14px;
   font-weight:normal;
   color:#444444;
   padding:0px;
   width:400px;
   text-align:center;
   margin-top:0.0em;
   margin-bottom:0.0em;
}


/* suppress rectangle around plots */
a img {
  border: none;
}

/* left part of page with menu */
div#menu {
  background: #BBCCEE;
  width: 15em;
  float: left;
  position: relative;
  z-index: 1;
  margin-right: 1em;
  margin-bottom: 1em;
}

span.submenu-label {
  cursor: pointer;
  background: #DDDDFF;
  padding-left: 1px;
  padding-right: 1px;
}

div.submenu-items {
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: 3px solid black;
}

div.submenu-items-hidden {
  display: none;
}

/* dropdown menu with the list of Rivet analyses */
div#menu #analysis {
  width: 80%;
  margin-left: 10%;
}

div#wrapper {
  float: right;
  width: 100%;
  margin-left: -16.5em;
}

/* right part of page with plots */
div#content {
  float: left;
  margin-left: 16.5em;
  margin-bottom: 1em;
}

/* process : observable */
div#content h2#title {
   text-align: left;
   padding-left: 1em;
}

/* beam @ energy */
div#content h3 {
   font-size:22px;
   font-weight:normal;
   line-height:1.0;
   color: #444;
   background: #eee;
   padding:7px;
   margin-top:1.0em;
   margin-bottom:0.33em;
   border-top: 2px solid #CCC;
}

/* cell with plot */
div.plot {
  display: inline-block;
  vertical-align: top;
}

div.plot h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

div.caption {
  width: 360px; /* width corresponds to width of plot and specified explicitly to "squeeze" caption */
}

span.caption-toggler {
  cursor: pointer;
  background: #DDDDFF;
  padding-left: 1px;
  padding-right: 1px;
}

span.caption-items {
  background: #DDDDFF;
}

span.caption-items-hidden {
  display: none;
}


div#team {
  padding: 1em 1em;
  text-align: center;
}

div#info {
  border: 2px solid black;
  padding: 0.75em;
}


div#news {
  border: 2px solid black;
  padding: 0.75em;
}


div#footer {
  background: #333;
  color: #FFF;
  clear: both;
}

table#production td.day {
  background: #BBEFBB;
}

table#production td.week {
  background: #FEFFBA;
}

table#contrib td {
  vertical-align: top;
}

/* hosts with high number of bad jobs */
.problem {
  background: #FBB;
}

.inactive {
  opacity: 0.5;
}

table#contributions td:nth-child(n+3) {
  text-align: right;
}

/* === matrix page === */

table#matrix th {
  text-align: left;
  background: #EEE;
}

table#matrix td th {
  vertical-align: top;
}

table#matrix thead th {
  vertical-align: top;
}

table#matrix tr:hover {
  background: #EEA;
}

/* always show header cells */
table#matrix thead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

table#matrix tr th:first-child {
  position: sticky;
  left: 0;
}


.fail {
  color: red;
}

.lost {
  color: blue;
}

/* === runs list page === */
table#runs td:nth-child(n+2) {
  text-align: right;
}

#filterState {
  padding-left: 2em;
}

/* generators versions page */
table#versions th {
  padding: 3px;
  text-align: left;
}

table#versions td {
  padding: 3px;
  vertical-align: top;
}

table#versions td span {
  background: #eee;
}

table#groups td {
  vertical-align: top;
}

/* checkbox styling */
label {
  white-space: nowrap;
}

label:hover {
  background: #EEE;
}
input:checked + span {
  background: #8C8;
}


a {
  padding: 3px;
}

a.selected {
  background: #0000DD;
  color: #FFFFFF;
}

p, li {
  margin-bottom:0.75em;
  line-height:120%;
}


/* validation pages */
table.validation {
  border: 3px solid black;
  border-collapse: collapse;
}


/*Validation table header*/
table.validation th.mn {
  text-align:center;
  border-width: 3px;
  /*border-right-width: 1px;*/
  padding: 5px;
  border-style: solid;
  border-color: #000000;
  font-weight: bold;
}

table.validation th.dup {
  text-align:center;
  border-width: 1px;
  border-top-width: 3px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #C0C0C0;
  font-size: 10px;
  font-weight:normal;
}

table.validation th.dmid {
  text-align:center;
  border-width: 1px;
  padding: 5px;
  border-style: solid;
  border-color: #000000;
  background-color: #C0C0C0;
  font-size: 28px;
  font-weight: bold;
}

table.validation th.ddwn {
  text-align:center;
  border-width: 1px;
  border-bottom-width: 3px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #C0C0C0;
  font-size: 10px;
  font-weight:normal;
}

table.validation th.mcup {
  text-align:center;
  border-width: 1px;
  border-top-width: 3px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #484848;
  color: white;
  font-size: 10px;
  font-weight:normal;
}

table.validation th.mcmid {
  text-align:center;
  border-width: 1px;
  padding: 5px;
  border-style: solid;
  border-color: #000000;
  background-color: black;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

table.validation th.mcdwn {
  text-align:center;
  border-width: 1px;
  border-bottom-width: 3px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #484848;
  color: white;
  font-size: 10px;
  font-weight:normal;
}

/*Validation table data
 
*/

table.validation td.mn {
  text-align:center;
  border-width: 1px;
  border-left-width: 3px;
  border-top-width: 1px;

  padding: 5px;
  border-style: solid;
  border-color: #000000;
  font-weight: normal;
}

table.validation td.dup {
  text-align:center;
  border-width: 0px;
  border-top-width: 1px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  font-size: 10px;
  font-weight:normal;
}

table.validation td.dmid {
  text-align:center;
  border-width: 0px;
  padding: 5px;
  border-style: solid;
  font-size: 28px;
  font-weight: normal;
}

table.validation td.ddwn {
  text-align:center;
  border-width: 0px;
  border-bottom-width: 1px;
  padding: 1px;
  border-style: solid;
  font-size: 10px;
  font-weight:normal;
}

table.validation td.mcup {
  text-align:center;
  border-width: 0px;
  border-top-width: 1px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  color: white;
  font-size: 10px;
  font-weight:normal;
}

table.validation td.mcmid {
  text-align:center;
  border-width: 0px;
  padding: 5px;
  border-style: solid;
  border-color: #000000;
  background-color: black;
  color: white;
  font-size: 28px;
  font-weight: normal;
}

table.validation td.mcdwn {
  text-align:center;
  border-width: 0px;
  padding: 1px;
  border-style: solid;
  border-color: #000000;
  color: white;
  font-size: 10px;
  font-weight:normal;
}

/*all kind of borders*/

/*bott-bord-thick*/
table.validation th.bott-bord-thick, table.validation td.bott-bord-thick{
  border-bottom-width: 3px;
}

/*top-bord-thick*/
table.validation th.top-bord-thick, table.validation td.top-bord-thick{
  border-top-width: 3px;
}

/*left-bord-thick*/
table.validation td.left-bord-thick, table.validation th.left-bord-thick{
  border-left-width: 3px;
}

/*right-bord-thick*/
table.validation td.right-bord-thick, table.validation th.right-bord-thick{
  border-right-width: 3px;
}


table.validation td.all-bord-thick{
  border: solid;
  border-width: 3px;
}

.smallText {
  font-size: 10px;
  font-weight: normal;
}

table.validation th.medText, table.validation td.medText {
  font-size: 18px;
  text-align: center;
}



/*colors for background
DATA
*/

.badchi2 {
  background-color: red;
  color: black;
}

.midchi2 {
  background-color: #FF9900;
  color: black;
}

.goodchi2 {
  background-color: #00FF00;
  color: black;
}

.nocolor {
  background-color: white;
  color: black;
}



/*colors for background
Delta best,worst
*/
td.badDchi2{
  background-color: #663300;
  color: white;
}

td.midDchi2{
  background-color: #484848;
  color: white;
}

td.goodDchi2{
  background-color: #003300;
  color: white;
}

/*colors for background
Delta avg
*/

a.badDtchi2, table.validation td.badDtchi2{
  color: red;
}

a.midDtchi2, table.validation td.midDtchi2{
  color: #CCCCCC;
}

a.goodDtchi2, table.validation td.goodDtchi2{
  color: #00FF00;
}

a.clblack{
  color: black;
}

/*mostly validdetail */
table.validation td.mid-bord{
  border-bottom-width: 0px;
  border-top-width: 0px;
}
table.validation td.end-bord{
  border-bottom-width: 0px;
}

table.validation td.left-bord-thin{
  border-left-width: 1px;
}
